.App {
  font-family: sans-serif;
  /* text-align: center; */
}

table {
  width: 100%;
}

thead {
  background-color: #041d18;
  color: white;
  border: none;
}

td {
  width: 20px;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }